::ng-deep{
  .owl-stage{
    float: left;
  }

  .owl-nav {
    display: none;
  }

  .owl-item {
    margin: 2rem 0;
    width: 100%;
    height: auto;
    
    img{
      border-radius: 1rem;
    }
  }
}