<section class="product" *ngFor="let item of home">
  <div class="product-container" >
    <div class="product-title" >
      <h2>{{item.title}}</h2>
      <a href="">مشاهده همه</a>
    </div>
    <div class="slider" >
      <owl-carousel-o [options]="product" >
        <ng-container *ngFor="let product of item.products" >
          <ng-template carouselSlide >
            <div class="product-item">
              <div class="product-img">
                <img [src]="product.feature_avatar.xhdpi">
              </div>
              <div class="info">
                <p class="title">{{product.name}}</p>
                <p class="producer">پرگار</p>
                <div class="subscribe">
                  <div class="view">
                    <i class="fa fa-eye"></i>
                    <p>{{ product.total_view }}</p>
                  </div>
                  <span class="rate">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </span>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</section>
