<section class="product">
  <div class="product-container">
    <div class="product-title">
      <h2>بسازید و بفروشید</h2>
      <a href="">مشاهده همه</a>
    </div>
    <div class="slider">
      <owl-carousel-o [options]="product">
        <ng-container *ngFor="let slide of slides">
          <ng-template carouselSlide [id]="slide.id">
            <div class="product-item">
              <div class="product-img">
                <img [src]="slide.img">
              </div>
              <div class="info">
                <p class="title">اموزش ساخت جعبه </p>
                <p class="producer">پرگار</p>
                <div class="subscribe">
                  <div class="view">
                    <i class="fa fa-eye"></i>
                    <span>115515</span>
                  </div>
                  <span class="rate">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </span>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</section>
