.bg-layout{
  background-color: rgba(0,0,0,.4);
  position: fixed;
  font-family: IranSans-Normal;
  form{
    background-color: #fff;
    padding: 1rem;
    margin: auto;

    input{
      margin: 1.5em;
      padding: 1rem;
      border-radius: 2rem;
      font-size: 1.8rem;
      border: .2rem solid #777;
      outline: none;
    }
  }
}