<div class="container">
  <div class="header">
    <nav class="header-rightSide">
      <li><img src="../../assets/logo.png" alt="pargar" class="logo"></li>
      <li><a class="header-item" href="#">دسته بندی</a></li>
      <li>
        <form class="form-search">
          <input class="header-search" type="text" placeholder="جستجو کنید">
          <a href="#" class="search-icon">
            <i class="fa fa-search"></i>
          </a>
        </form>
      </li>
      <li><a class="header-item" href="#">راهنمای پرگار</a></li>
    </nav>
    <nav class="header-leftSide">
      <ul class="header-navbar">
        <li><a class="navbar-item teach" (click)="teach()">در پرگار درس بدهید</a></li>
        <li><a class="navbar-item account" (click)="login()">حساب من</a></li>
      </ul>
    </nav>
    <form *ngIf="current == 1" class="form-signUp" [formGroup]="step1" (ngSubmit)="getVerification()">
      <input formControlName="mobile" placeholder="شماره تلفن همراه" class="signUp-input">
      <span *ngIf="">لطفا شماره تلفن خود را وارد کنید </span>
      <button class="navbar-item account">دریافت کد تائید</button>
    </form>
    <form *ngIf="current == 2" class="form-signUp" [formGroup]="step2" (ngSubmit)="getToken()">
      <input formControlName="verification_code" placeholder="کد تائید" class="signUp-input">
      <input formControlName="nickname" placeholder="نام نمایشی" class="signUp-input">
      <button class="navbar-item account">ورود به پرگار</button>
    </form>
  </div>
</div>
<app-profile [user]="user" *ngIf="current == -1"></app-profile>
