<div class="container">
  <div class="header">
    <nav class="header-rightSide">
      <li><img src="../../assets/img/logo.png" alt="pargar" class="logo"></li>
      <li><a class="header-item" href="#">دسته بندی</a></li>
      <li>
        <form class="form-search">
          <input class="header-search" type="text" placeholder="جستجو کنید">
          <a href="#" class="search-icon">
            <i class="fa fa-search"></i>
          </a>
        </form>
      </li>
      <li><a class="header-item" href="#">راهنمای پرگار</a></li>
    </nav>
    <nav class="header-leftSide">
      <ul class="header-navbar">
        <li><a class="navbar-item white-btn" (click)="teach()">در پرگار درس بدهید</a></li>
        <li><a class="navbar-item green-btn account" *ngIf="current == 0">حساب من <i class="fa fa-chevron-down"></i></a>
          <a class="navbar-item green-btn account" *ngIf="isLogInUser">کاربر اشتراکی شوید!</a>
          <div class="dropdown" *ngIf="current == 0">
            <a class="dropdown-login" (click)="login()">ورود/ثبت نام رایگان</a>
            <a>کد هدیه</a>
          </div>
        </li>
        <li>
          <img [src]="avatar" class="iconProfile" alt="profile" *ngIf="isLogInUser">
          <div class="dropdown d-profile">
            <a (click)="getProfile()">پروفایل</a>
            <a>راهنما</a>
            <a (click)="logout()">خروج از پرگار</a>
            <a>کاربر اشتراکی شوید</a>
          </div>
        </li>
      </ul>
    </nav>
    <div class="overlay" *ngIf="current == 1 || current == 2" (click)="showOverlay()"></div>
    <div class="form-section">
      <form *ngIf="current == 1" class="form-signUp" [formGroup]="step1" (ngSubmit)="getVerification()">
        <h3 class="heading-signUp">ورود و ثبت نام</h3>
        <input formControlName="mobile" placeholder="شماره تلفن همراه" class="signUp-input">
        <span *ngIf="">لطفا شماره تلفن خود را وارد کنید </span>
        <button class="navbar-item green-btn">دریافت کد تائید</button>
      </form>
      <form *ngIf="current == 2" class="form-signUp" [formGroup]="step2" (ngSubmit)="getToken()">
        <h3 class="heading-signUp">ورود کد تائید</h3>
        <input formControlName="verification_code" placeholder="کد تائید" class="signUp-input">
        <input formControlName="nickname" placeholder="نام نمایشی" class="signUp-input">
        <button class="navbar-item green-btn">ورود به پرگار</button>
        <button class="resend-code" (click)="resendCode()">ارسال مجدد کد تائید</button>
      </form>
    </div>
  </div>
</div>
