<section class="profile">
<div class="container">
  <section class="header">
    <div class="section icon">
      <div class="icon-profile">
        <img class="shape" src="../../assets/download.png" alt="profile">
        <h1>{{user?.nickname}}</h1>
      </div>  
      <div class="list-profile">
        <a href="#">علاقه مندی ها</a>
        <a href="#">وضعیت اشتراک</a>
      </div>
    </div>
    <div class="section">
      <button class="button edit">ویرایش اطلاعات کاربری</button>
      <button class="button vip">کاربر ویژه شوید</button>
      <button (click)="logout()" class="exit" ><img src="../../assets/download.svg" alt="exit">خروج از حساب کاربری </button>
    </div>
  </section>
</div>
</section>
