/* You can add global styles to this file, and also import other style files */
@import "/src/app/sass/color";
@import "/src/app/sass/mixin";

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem =10px, 10/16 = 62.5%
  font-family: IranSans-Normal;
}


/// white button

.white-btn {
  color: $primary_color;

  &:hover {
    background-color: $primary_color;
    color: $white;
  }
}

/// green button
.green-btn {
  background-color: $primary_color;
  color: $white;
  position: relative;

  &:hover {
    background-color: $white;
    color: $primary_color;
  }
}

//// font ////

@font-face {
  font-family: IranSans-Bold;
  font-style: normal;
  font-weight: bold;
  src:url('../src/assets/fonts/IRANSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: IranSans-Light;
  font-style: normal;
  src:url('../src/assets/fonts/IRANSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: IranSans-Medium;
  font-style: normal;
  src:url('../src/assets/fonts/IRANSans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: IranSans-Normal;
  font-style: normal;
  src:url('../src/assets/fonts/IRANSans.ttf') format('truetype');
}

