/* You can add global styles to this file, and also import other style files */
@import "/src/app/sass/color";
@import "/src/app/sass/mixin";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem =10px, 10/16 = 62.5%
  font-family: IranSans-Normal;
}


/// white button
.navbar-item {
  padding: .5rem 2rem;
  border: .2rem solid $primary_color;
  border-radius: 3rem;
  text-decoration: none;
  transition: background-color .2s;
  cursor: pointer;
  @include fontStyle(1.5rem, normal);
}

.white-btn {
  color: $primary_color;

  &:hover {
    background-color: $primary_color;
    color: $white;
  }
}

/// green button
.green-btn {
  background-color: $primary_color;
  color: $white;
  position: relative;

  &:hover {
    background-color: $white;
    color: $primary_color;
  }
}

//// font ////

@font-face {
  font-family: IranSans-Bold;
  font-style: normal;
  font-weight: bold;
  src:url('../src/assets/fonts/IRANSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: IranSans-Normal;
  font-style: normal;
  src:url('../src/assets/fonts/IRANSans.ttf') format('truetype');
}

