/* You can add global styles to this file, and also import other style files */
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem =10px, 10/16 = 62.5%
  font-family: IranSans-Normal;
}
@font-face {
  font-family: IranSans-Bold;
  font-style: normal;
  font-weight: bold;
  src:url('../src/app/fonts/IRANSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: IranSans-Light;
  font-style: normal;
  src:url('../src/app/fonts/IRANSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: IranSans-Medium;
  font-style: normal;
  src:url('../src/app/fonts/IRANSans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: IranSans-Normal;
  font-style: normal;
  src:url('../src/app/fonts/IRANSans.ttf') format('truetype');
}