<a href="">
  <section class="single-section">
    <div class="single-container">
      <div class="right-section">
        <img src="itemProduct[0].feature_avatar.xhdpi" alt="{{ itemProduct[0].name }}">
      </div>
      <div class="left-section">
        <h3>{{ itemProduct[0].name }}</h3>
        <p>{{ itemProduct[0].description }}</p>
        <h4>پرگار</h4>
        <div class="subscribe">
          <div class="view">
            <i class="fa fa-eye"></i>
            <span>{{ itemProduct[0].total_view }}</span>
          </div>
          <span class="rate">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </span>
        </div>
      </div>
    </div>
  </section>
</a>
