<footer>
  <section class="footer-container">
    <nav class="footer-menu">
      <ul>
        <li><a href="#" class="footer-link">وبلاگ پرگار</a></li>
        <li><a href="#" class="footer-link">درباره پرگار</a></li>
        <li><a href="#" class="footer-link">پرگار در رسانه ها</a></li>
        <li><a href="#" class="footer-link">تماس با ما</a></li>
      </ul>
    </nav>
    <div class="career">
      <div class="heading-career">
        <h5>از آموخته‌های خود کسب درآمد کنید!</h5>
        <button class="navbar-item white-btn">در پرگار درس بدهید</button>
      </div>
      <div class="authorization">
        <img src="/assets/img/e_namad.png" alt="enamad" />
        <img src="/assets/img/samandehi_logo.png" alt="samandehi" />
      </div>
    </div>
    <div class="social">
      <div class="social-heading">
        <h3>پرگار را دنبال کنید</h3>
        <p>اطلاع از آموزش‌های جدید، تخفیف‌ها و…</p>
      </div>
      <div class="social-media">
        <a href="http://www.aparat.com/pargar_app">
          <img src="/assets/img/icon_social_aparat.svg" alt="aparat" /></a>
        <a href="https://instagram.com/pargarapp/">
          <img src="/assets/img/icon_social_instagram.svg" alt="instagram"/></a>
        <a href="https://t.me/pargarofficial">
          <img src="/assets/img/icon_social_telegram.svg" alt="telegram "/></a>
      </div>
      <div class="app">
        <a href="https://cafebazaar.ir/app/com.yaramobile.educationalfilm/?l=fa"><img src="/assets/img/icon_bazaar.svg"
            alt="Bazaar"/></a>
        <a href="https://play.google.com/store/apps/details?id=com.yaramobile.educationalfilm&hl=en"><img
            src="/assets/img/icon_play1.svg" alt="googlePlay"/></a>
        <a href="http://charkhoneh.com/content.jsf?uuid=930501270"><img src="/assets/img/icon_4khooneh.svg"
            alt="4khooneh" /></a>
        <a href="http://pargar.ir/intro/#download"><img src="/assets/img/icon_appstore.svg" alt="AppStore"/></a>
      </div>
    </div>
  </section>
</footer>
